@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .h-screen-min {
    min-height: 100vh;
  }
  .gradient {
    @apply bg-gradient-to-r from-fuchsia-500/5 via-purple-500/5 to-teal-300/5;
  }

  .triangle-right {
    clip-path: polygon(0 0, 0 100%, 100% 50%);
  }
  .triangle-left {
    clip-path: polygon(100% 0, 100% 100%, 0 50%);
  }
}
